body {
    width: 95vw;
    margin: auto;
}

main {
    display: grid;
    place-items: center;

    img {
        width: 100%;
        height: auto;
        grid-area: 1 / 1;
    }

    .shelves {
        grid-area: 1 / 1;
        display: grid;
        grid-template-rows: 15% 20% 20% 20% 20%;
        width: 90%;
        height: 93%;

        .shelf {
            height: 100%;
            justify-self: start;
            display: flex;
            align-items: end;

            &.one {
                margin: auto;
                width: 93%;
                height: 85%;
            }

            a {
                height: 100%;
            }

            .column-md {
                width: 2%;
            }

            .column-lg {
                width: 3.5%;
            }
        }
    }
}

.show-status {
    a {
        opacity: 70%;
        border: 1px solid;
    }

    .not-started {
        background-color: #ff0000aa;
        border-color: #f00;
    }

    .in-progess {
        background-color: yellow;
    }

    .completed {
        background-color: green;
    }
}

header {
    text-align: center;

    button {
        margin-bottom: 16px;
    }
}

.progress-bar {
    height: 32px;
    width: 95vw;
    padding: 8px 0;
    display: flex;
    flex-direction: row;

    > div {
        height: 100%;

        p {
            height: 50%;
            margin: 0;
        }

        > div {
            height: 8px;
        }
    }

    #not-started .bar {
        background-color: #f00;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    #in-progress .bar {
        background-color: yellow;
    }

    #completed .bar {
        background-color: green;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}